body{
<<<<<<< HEAD
  background-color: #f4f4f4;
}

=======
  background-color: #d7e7f6;
}
>>>>>>> ea54838c5895877d10962c6ecb87d2e7067046fa
/* ボタンの基本スタイル */
.button {
  display: inline-flex;
  padding: 10px 30px;
  margin: 10px 5px;
  width: 250px; /* 統一された幅 */
  height: 50px; /* 統一された高さ */
  font-size: 16px;
<<<<<<< HEAD
  color: rgb(0, 0, 0);
  background-color: #ffffff;
=======
  color: white;
  background-color: #070707;
>>>>>>> ea54838c5895877d10962c6ecb87d2e7067046fa
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  justify-content: center; /* 中央揃え */
  align-items: center; /* 中央揃え */
}
/* ボタンホバー時のスタイル */
.button:hover {
  background-color: #bebebe;
}

/* ボタンをブロック要素として扱い、中央揃えにする */
.button-container {
  margin-top: 20px;
}
