body{
  background-color: #f4f4f4;
}

/* ボタンの基本スタイル */
.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 5px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

/* ボタンホバー時のスタイル */
.button:hover {
  background-color: #bebebe;
}

/* ボタンをブロック要素として扱い、中央揃えにする */
.button-container {
  margin-top: 20px;
}
