body{
    background-color:#ffffaa;
}
h1{
color:black;
font-size:35px;
}
p{
color:black;
font-size:17px;
}
.box_css{
width:1000px;
margin:0.5em;
border:solid 1px #ffcc00;
border:solid 1px #ffcc00;
background-color:#ffffcc;
}