header, footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    color: #333;
        }

        main {
    padding: 50px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.left-align {
    text-align: left;
}
.map-container {
    text-align: center;
}
p{
    text-align: center;
}
h2{
    background-color: #fff;
    color: #333;
    text-align: center;
    font-size: 40px;
}
h3{
  background-color: #fff;
    color: #333;
    text-align: center;
    font-size: 35px;
}
h4{
  background-color: #fff;
    color: #333;
    text-align: center;
    font-size: 38px;
}
a{
    color:rgb(1, 122, 203);
}
h1{
    text-align: center;
    font-size: 35px;
    font-weight:600
}
ul{
    list-style: none;
    text-align: center;
}

.example-element {
    border: 1.5px solid #000; /* 緑の実線の枠線 */
    border-radius: 5px; /* 角丸 */
    position: relative;
    left: 0%; /* 要素を左に10px移動 */
    padding-left: 10px; /* テキストの左側に10pxの余白を追加 */
    
}
li{
    text-align: center;
}

span{
    font-size: 130%;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
  }
  
  .pop {font-family: 'Poppins', sans-serif;}
  
  .container {
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
  }
  
  .flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  
  /* ヘッダー */
  header {
    padding: 27px 0;
  }
  .logo {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.04em;
  }
  .logo span {
    color:rgb(1, 122, 203);
  }
  .header_menu li {
    margin-left: 20px;
    margin-top: 30px;
  }
  .header_menu li a {
    transition: .3s;
  }
  .header_menu li a:hover {
    color: #ba4aa9;
    transition: .3s;
  }
  .header li{
    margin-left: 50px;
   }
   
   ul{
    list-style: none;
  }
  
  a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    font-weight:700
  }
  
  
  @media only screen and (max-width: 768px) {
    #hero {height: 460px;}
    .hero_inner p {font-size: 35px;}
    .hero_inner h1 {font-size: 17px;}
  }
  #concept {
    margin-bottom: 120px;
  }
  .title {
    font-size: 30px;
    font-weight: bold;
    color:black;
    margin-bottom: 40px;
  }
  #concept h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 60px;
  }
  .column-2 {
    width: 48%;
  }
  .text {
    line-height: 2;
  }
  
  @media only screen and (max-width: 768px) {
    #concept h3 {
      font-size: 24px;
      line-height: 1.5;
    }
    .column-2 {
      width: 100%;
    }
    .text {
      font-size: 15px;
      line-height: 1.7;
    }
    .concept-img {margin-top: 30px;}
  }
  
  
  #service {
    margin-bottom: 120px;
  }
  
  .service_inner {
    margin-bottom: 40px;
    position: relative;
  }
  .column-40 {
    width: 40%;
  }
  .column-55 {
    width: 55%;
  }
  #service img {
    border-radius: 20px;
  }
  #service h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
  }
  
  @media only screen and (max-width: 768px) {
    .column-40 {
      width: 100%;
      margin-bottom: 30px;
    }
    .column-55 {
      width: 100%;
    }
  }
  
  /* オリジナル */
.iframe-wrp {
  position: relative;
  width: 100%;
  padding-top: 75%; /* = height ÷ width × 100 */
}
.iframe-wrp iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}