body {
 padding: 50px 100px;
 margin: 50px 100px;
 text-align: center;}



h1 {color: red;
    border: 2px solid pink;
}
h2 {color:green;
    font-style: italic;
    text-stretch: semi-expanded;
}
h3 {color:blue;
    font-size: large;
}


h4 {color:orange;
    font-size: large;
}

h5 {color:gray;
    font-size: large;
    align: center;
}




content {
  width: 150px;
  height: 400px;
}

inner {
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

button {
    /* 文字サイズを50pxに指定 */
    font-size: 50px;
 
    /* 文字の太さをboldに指定 */
    font-weight: bold;
 
    /* 縦方向に10px、
     * 横方向に30pxの余白を指定 */

    padding: 10px 30px;


    /* 背景色を濃い青色に指定 */
    background-color: #248;


    /* 文字色を白色に指定 */
    color: #fff;

    /* ボーダーをなくす */
    border-style: none;
}
