<<<<<<< HEAD


=======
>>>>>>> 6b38bec267eca09d6d5fa2c03019e981d8e108ef
body {
    display: flex;
    background-color: #d7e7f6;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

input[type="text"],
input[type="password"],
select {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
}

input[type="submit"] {
    padding: 10px 20px;
}

h1 {
    text-align: center;
}
